.scrolling_wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
    }
}

.card {
    border: 1px solid black;
    width: 150px;
    height: 250px;
    background: #fff;
    margin: 10px;
}

.card :hover {
    border: 2px solid black;
}

.card :focus {
    border: 2px solid black;
}

.card :active {
    border: 2px solid black;
}

.scrolling_wrapper {
    height: 260px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}