@import '../../assets/styles/vars';

.footerNavList{
	li{
		a{
			color: $darkGray;
			font-size: 13px;
			padding: 0 5px;
			font-weight: 500;
			border-right: 1px solid $lightGray;
			letter-spacing: 0.3px;
		}
	}
	
	li:last-child{
		a{
			border-right: none;
		}
	}
}

.footerDescription{
	p{
		color: $lightGray;
		font-size: 12px;
		padding: 0;
		margin: 0;
		font-weight: 500;
		a {
			color: $linkBlue;
		}
	}
}

.quickLinksContainer{
	background-color: $lightGrayBG;
}

.quickLinkList{
	h4{
		font-size: 16px;
		font-weight: 600;
		color: $darkBlueHeading;
		margin: 20px 0;
	}

	li {
		a{
			padding: 0;
			color: #626262;
			font-size: 13px;
			margin: 3px 0;
			letter-spacing: 0.3px;
		}
	}


}