ul.tabs-nav.nav.navbar-nav.navbar-left {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

li.tab {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

a.tab-link.custom-link {
    background: #6161a7;
    color: white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    cursor: pointer;
}

a.tab-link.custom-link.active {
    background: #969696;
}