@import "_vars.scss";
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
}

input {
    border: 0 !important;
    outline: 0 !important;
	border-bottom: 1px solid black !important;
	border-radius: 0 !important;
}

.form-control.is-invalid {
	border-bottom: 1px solid red !important;
	background-image: none !important;
	border-color: #dc3545 !important;
}

.form-control:focus{
	box-shadow: none !important;
}

input[type=checkbox], input[type=radio]{
	width: 18px;
	height: 18px;
}

.modal-header .close {
	padding: 0 !important;
	margin: 0 !important;
}

.modal-title {
	margin: auto !important;
}
