.quickIcon {

    &:hover,
    &.active {
        img {
            border: 2px solid #4f4d4d;
        }
    }

    img.round {
        border: 2px solid #4f4d4d;
    }


    img {
        width: 50px;
        height: 50px;
        vertical-align: bottom;
        border-radius: 25px;
    }

    h6 {
        font-size: 12px;
        color: #4f4d4d;
        padding: 15px 0 0 0;
        display: block;
    }
}

.customNav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 30px 25px;

    li {
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
    }
}